<!-------------------------->
<!-- Still Working on this -->
<!-------------------------->
<!-- Restructuring Navbar here to accomodate Admin View. Not including Services and contact in navbar instead including New Jobs, assign jobs, reports. -->

<!--Webpage Body-->
<div class="body-webpage">
	<div class="jumbotron services-jumbotron">
			<div class="container">
				<h2 class="service-header">Welcome</h2>
		      <!-- START THE FEATURETTES -->
		      <hr class="featurette-divider">
		      <!-- Collect the nav links, forms, and other content for toggling -->
		      <div class="collapse navbar-collapse" id="navbar-collapse">
		        <ul class="nav navbar-nav">
		          <li><a href="/">HOME</a></li>
		          <li><a href="/newJobs">NEW JOBS</a></li>
		          <li><a href="/assignJob">ASSIGN JOB</a></li>
		          <li><a href="/reports">REPORTS</a></li>
		        </ul>
						<ul class="nav navbar-nav navbar-right admin-nav">
							<button type="submit" class="btn btn-primary" id="adminLogin" data-toggle="modal" data-delay = "50" data-target="/">Log Out<i class="fa fa-key" aria-hidden="true"></i></button>
						</ul>
		      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<!--End Nav-->

		      <div class="row featurette">

		      </div>

		      <hr class="featurette-divider">


	</div> <!-- END SERVICES JUMBOTRON-->
</div> <!-- End WEBPAGE BODY -->
