<!--Webpage Body-->
	<div class="body-webpage">
	<section style="position: relative;bottom: -91px;">
		<div class="jumbotron filler-jumbotron7">
				<div class="container">
					<!-- <p class="empty-containter"> -->
					 <!-- <span><h1 class="heading1">CARIBBEAN CONNECTIONS</h1></span> -->
					<!-- </p> -->
				</div>
			</div>
	</section>
	<section class="events-section">
			<div class="jumbotron events-jumbotron">
				<div class="container">
					<!-- <aside class="events-box"> -->
						<p class="events-text">
							Welcome to ASAP Locksmith
						</p>
						<span class="tag"><h4>-Tagline for company-</h4></span>
						<p class="Services">
						 Our Services Include
						</p>
						<p class="tag1">Residential Installations and Repairs  // Commercial Installation and Repairs  // Much more...</p>
						<a href="upcomingeventspage.html" type="button" class="btn btn-primary">Book Now</a>
				</div>
			</div>
	</section> <!--End Upcoming Events Section-->

  	<section class="events-section" style="position: relative; top: -29px;
    height: 350px;">
			<div class="jumbotron events-jumbotron1" >
				<div class="container">

		<div style="padding:120px 0 ;position: relative;top: -219px;"  >
        <div id="thumbnail-slider">
            <div class="inner">
                <ul class="dd">
                    <li>
                        <!-- <a class="thumb" href="https://www.pexels.com/photo/gray-2-storey-house-at-daytime-164516/"></a> -->
                        <img  class="thumb" style="height: 500px" src="images/house.jpeg">
                    </li>
                     <li>
                        <!-- <a class="thumb" href="https://www.pexels.com/photo/gray-2-storey-house-at-daytime-164516/"></a> -->
                        <img class="thumb" style="height: 500px" src="images/car11.jpeg">
                    </li>
                     <li>
                        <!-- <a class="thumb" href="https://www.pexels.com/photo/gray-2-storey-house-at-daytime-164516/"></a> -->
                        <img class="thumb" style="height: 530px;position: relative;top: 2px" src="images/service.png">
                    </li>
                     <li>
                        <!-- <a class="thumb" href="https://www.pexels.com/photo/gray-2-storey-house-at-daytime-164516/"></a> -->
                        <img class="thumb" style="height: 500px" src="images/company.jpeg">
                    </li>

                </ul>
            </div>
        </div>
    </div>
    </div>
    </div>
	</section>

<!--Footer-->
	<footer>
		<div>
			<p class="footer-text"> Copyright &#169; 2017 caribbeanconnection.us</p>
		</div>
	</footer>
