<!--Webpage Body-->
<div class="body-webpage">

	<section class="section-one">
		<div class="jumbotron main-jumbotron">
				<div class="container header-container">
					<h3 class="headline">ASAP Locksmith Inc</h3>
					<h4 class="tagline">Locked out? Need installations? ASAP Locksmith is a 24/7 service with quality technicians, and affordable prices.</h4>
				</div> <!--End Header container -->
			</div> <!-- End main Jumbotron -->
	</section> <!--End Section one -->

	<section class="services-section" id="service">
		<div class="jumbotron services-jumbotron">
			<div class="container">
				<h1 class="service-header">Our Services Include</h1>

		      <!-- START THE FEATURETTES -->
		      <hr class="featurette-divider">

		      <div class="row featurette">
		        <div class="col-md-7">
		          <h2 class="featurette-heading">Residential. <span class="text-muted">It'll blow your mind.</span></h2>
		          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		        </div>
		        <div class="col-md-5">
		          <img class="featurette-image img-responsive center-block" src="images/keyinlock.jpeg" alt="A key in a lock">
		        </div>
		      </div>

		      <hr class="featurette-divider">

		      <div class="row featurette">
		        <div class="col-md-7 col-md-push-5">
		          <h2 class="featurette-heading">Automotive. <span class="text-muted">See for yourself.</span></h2>
		          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		        </div>
		        <div class="col-md-5 col-md-pull-7">
		          <img class="featurette-image img-responsive center-block" src="images/man-people-hand-driving-6097.jpg" alt= "A man handing a set of keys">
		        </div>
		      </div>

		      <hr class="featurette-divider">

		      <div class="row featurette">
		        <div class="col-md-7">
		          <h2 class="featurette-heading">Commericial. <span class="text-muted">Checkmate.</span></h2>
		          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		        </div>
		        <div class="col-md-5">
		          <img class="featurette-image img-responsive center-block" src="images/doorlock.jpeg" alt="A heavy door lock system">
		        </div>
		      </div>

		      <hr class="featurette-divider">
		      <!-- /END THE FEATURETTES -->

					<!--Expect Services-->
				<h3>What you can expect:</h3>
				<div class="row">
					<div class="col-sm-6">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit mi nec accumsan interdum. Pellentesque in euismod urna. Nulla lacinia hendrerit purus ac semper. Etiam metus eros, tempus quis facilisis eu, tempus non leo. Pellentesque a lobortis enim, quis pulvinar ex. Vivamus gravida enim a pharetra ultrices. Nullam ut turpis mauris. Proin eu dapibus nulla.
						</p>
					</div>
					<div class="col-sm-6">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit mi nec accumsan interdum. Pellentesque in euismod urna. Nulla lacinia hendrerit purus ac semper. Etiam metus eros, tempus quis facilisis eu, tempus non leo. Pellentesque a lobortis enim, quis pulvinar ex. Vivamus gravida enim a pharetra ultrices. Nullam ut turpis mauris. Proin eu dapibus nulla.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit mi nec accumsan interdum. Pellentesque in euismod urna. Nulla lacinia hendrerit purus ac semper. Etiam metus eros, tempus quis facilisis eu, tempus non leo. Pellentesque a lobortis enim, quis pulvinar ex. Vivamus gravida enim a pharetra ultrices. Nullam ut turpis mauris. Proin eu dapibus nulla.
						</p>
					</div>
					<div class="col-sm-6">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras suscipit mi nec accumsan interdum. Pellentesque in euismod urna. Nulla lacinia hendrerit purus ac semper. Etiam metus eros, tempus quis facilisis eu, tempus non leo. Pellentesque a lobortis enim, quis pulvinar ex. Vivamus gravida enim a pharetra ultrices. Nullam ut turpis mauris. Proin eu dapibus nulla.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="reviews-section">

	</section>

  <section class="carousel-section">
			<div class="jumbotron carousel-jumbotron">
				<div class="container">
					<div class="carousel">
			       <div id="thumbnail-slider">
			          <div class="inner">
			              <ul class="dd">
			                <li>
			                  <img class="thumb" src="images/house.jpeg">
			                </li>
			                <li>
			                  <img class="thumb" src="images/car.jpg">
			                </li>
			                <li>
			                  <img class="thumb" src="images/makingkeys.jpeg">
			                </li>
			                <li>
			                  <img class="thumb" src="images/company.jpeg">
			                </li>
			              </ul> <!--End of carousel images -->
			          </div> <!-- End of innner class-->
			       </div> <!-- End of Thumbnail-Slider -->
			    </div> <!-- End of carousel -->
    	</div> <!-- End container -->
    </div> <!-- End Jumbotron -->
	</section> <!--End carousel section-->

</div>
<!--Footer-->
<footer class="footer">
	<div class="container-fluid second-footer-container">
		<p class="text-muted">Place sticky footer content here.</p>
	</div>
</footer>
